<div class="map yandex-map">
  <iframe
    src="https://yandex.ru/map-widget/v1/?ll=104.282388%2C52.286974&z=16&pt=104.282388,52.286974,pm2rdm"
    loading="lazy"
    referrerpolicy="no-referrer-when-downgrade"
    title="Байкальский государственный университет, Иркутск">
  </iframe>
</div>
